<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, sharink-to-fit=no">
    <title>Document</title>
    <meta name="theme-color" content="#000">
		<link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1 id="roomname"></h1>
    <div class="chatBox">
      <div id="chatLog" class="chatLog">
  		    <p>공지 : BTS 채팅방에 오신 걸 환영합니다 !</p>

  		</div>
      <div id="chatSub">
        <input id="name" class="name" type="text" readonly>
        <input id="message" onkeydown="JavaScript:Enter_Check()" class="message" type="text" autocomplete="off">
        <button class="chat-button bg-light round-input" onclick="chat_submit()">전송</button>
        <button class="chat-button" onclick="chat_exit()">나가기</button>
      </div>
      <div id="chatInfo">
        <h4></h4>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"/></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/chat.js"></script>

</body>
</html>
