<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="theme-color" content="#000">
		<link rel="stylesheet" href="/main.css">
</head>
<body>

  <h1>BTS Chat Room</h1>
  <form id="room-set" action="#" onsubmit="room_set()">
    닉네임 : <input type="text" name='name' id="userName"required><br/>
    제목 : <input type="text" id="roomName" required><br/>
    인원 수<select id="roomCount">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
    <input type="submit" id="submit" value="채팅방 개설"/>
  </form>
  <br/>
  채팅방 : <br/>
  <ul id="roomList" class="room-list"></ul>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
  <script>
      var socket=io();
      //채팅방 개설
      function room_set(){
        var userName=$("#userName").val();
        var roomName=$("#roomName").val();
        var roomCount=$("#roomCount").val();
        var room_set=
        {"roomName":roomName,"userName":userName,"roomCount":roomCount};
        socket.emit('startroom',room_set);

        $("#room-set").attr("action","/chat/"+roomName);
      }

      //채팅방 리스트 띄우기
      socket.on('roomlist',(data)=>{
          roomList = data;
          let result = '';
          for(var room of roomList){
              roomNUR = room[0]+' ('+room[1]+'/'+room[2]+')';
              if ( room[1] < room[2] ) {
                  result += `<li>${roomNUR} <button onclick="bb('${room[0]}')">입장</button></li>`;
              }else {
                  result += `<li>${roomNUR} <button> 풀방~ </button></li>`;
              }

              $('#roomList').html(result);
          }
      });

    function bb(room){
        var userName=$("#userName").val();
        if(!userName){
            alert('닉네임 입력해주세용');
            return false;
        }
        window.location.href='/chat/'+room+'?name='+userName;
    }
  </script>

</body>
</html>
