<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <div id="chatLog">
  </div>
  <form onsubmit="return false">
    <input id="name" class="name" type="text" readonly />
    <input id="message" class="message" type="text" autocomplete="on">
    <button id="sub" onclick="chat_submit()">전송</button><br/>
    <button id="rename" >닉네임 변경</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <!-- http://-->
  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script>
      var socket = io("http://localhost:5000/");
      socket.on('receive message', function(msg){
        var p_tag = document.createElement('p');
        var text = document.createTextNode(msg);
        p_tag.appendChild(text);
        document.getElementById('chatLog').appendChild(p_tag);
        var objDiv = document.getElementById("chatLog");
        objDiv.scrollTop = objDiv.scrollHeight;
      });
      socket.on('connect',()=>{
        console.log("하이룽");
      });
      socket.on('change name', function(name){
        $('#name').val(name);
      });
      function chat_submit(){
        socket.emit('send message', $('#name').val(), $('#message').val());
        $('#message').val("");
        $('#message').focus();
      }

      $(document).ready(function(){
        $('#rename').click(function(){
          $("#rename").after("<input type='text' id='newName' name='newName'><button id='chName' >변경</button>");
          $("#rename").remove();
          $('#chName').click(function(){
              rename_submit();
          });
        });

      });

      function rename_submit(){
        console.log("실행");
        socket.emit('rename', $('#name').val(), $('#newName').val());
        $("#newName").before('<button id="rename" >닉네임 변경</button>');
        $("#chName").remove();
        $("#newName").remove();
      }


  </script>
</body>
</html>
