body#MainBody{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
body#ChatBody{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
html,body,container{ height:100%; }
body {
	margin: 0;
	padding: 0;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto;
  max-width: 50%;
  padding: 50px;
}



::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}
body {

	margin: 0;
	padding: 0;
}

.chatLog {
	position: absolute;
	left:0%;
	background-color: rgba(178, 199, 217, 1);
	width: 430px;
	height: 520px;

	padding-bottom: 30px;
	overflow: scroll;
}

#chatInfo {
	position: absolute;
	right:5%;
	width: 200px;
	height: 400px;
	background-color: rgba(178, 199, 217, 1);
}

#chatSub {
	position: absolute;
	left:0%;
	bottom: 5%;
}

.chatLog > p {
	display: inline-block;
	padding: 8px;
	margin: 6px;
	background-color: rgba(255,255,255,1);
	border-radius: 8px;
	float: left;
	clear: both;
	font-size: 13px;
}

.chatLog > p.myMessage {
	background-color: rgba(255,235,51,1);
	float: right;
	clear: both;
}

.chatBox {
	position: relative;
	width: 680px;
	height: 620px;
	background-color: rgba(255,255,255,0.8);
}


.message {
	border: none;
	height: 30px;
	width: 263px;
}

.chat-button {
	border: none;
	height: 30px;
	width: 50px;
	background: #ddd;
}
